body {
  background-color: rgb(238, 235, 235);
}

.auth-container {
  margin-top: 10px;
  display: flex;
  display: grid;
  grid-template-columns: 350px 500px;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
}
