.titulo_login{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(23, 23, 88);
    justify-content: center;
    align-items: center;
}

.contenedor_login{
    /* border-radius: 40px; */
    display: flex;
    background-color: whitesmoke;
    height: 350px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-rows: auto auto auto;
    border-radius: 100% 0% 83% 17% / 15% 100% 0% 85% ;
    box-shadow: 5px 5px 37px #000;
}

.boton_inicio{
    display: block;
    top: 15px;
    width: 200px;
    background-color: rgb(23, 23, 88);
    color: honeydew;
}

.input_login{
    width: 200px;
    height: 20px;
}