.titulo_menu{
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  justify-content: center;
  align-items: center;
}
.contenedor_menu{
  background: linear-gradient(200deg, rgb(21, 19, 134) 0%, rgb(8, 9, 85) 75%);
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 100% 11% 89% 13% / 13% 87% 11% 89%;
  box-shadow: 5px 5px 37px #000;
}

.boton_menu{
  display: block;
  width: 200px;
  border-radius: 6px;
  margin: 10px;
}